
:root {
    --max-width : 1400px;


    --tile-font-size : 2.5rem; // default option


    --color-periwinkle : #c6d8ffff;
    --color-ruddy-blue : #71a9f7ff;
    --color-ultra-violet : #6b5ca5ff;
    --color-byzantium : rgb(111, 45, 105);
    --color-tyrian-purple : #4c1036ff;

    --color-green : #6ce01f;


    --main-background-color : var(--color-byzantium);
    --main-font-color : gainsboro;
    --main-font-color-hover : rgb(186, 186, 186);

    --main-tile-background-color : gainsboro;
    --main-tile-font-color : black;

    --canvas-background-color : var(--color-tyrian-purple);

    --tile-background-color : var(--color-ultra-violet);
}

html {
    height : 100%;

    scrollbar-width : none;
    scroll-behavior : smooth;

    @media (max-width : 1400px) {
        --max-width : 100%;
    }

    @media (orientation : portrait) {
        font-size : 12px;
    }
}

body {
    margin : 0;

    background-color : var(--main-background-color);

    font-family : 'Noto Sans', sans-serif;
    font-variation-settings : "wdth" 100;
    color : var(--main-font-color);


    header {
        width : 100%;


        > .wrapper {
            max-width : var(--max-width);
            margin : 0 auto;
            padding : .5rem;
        }


        nav {
            padding : .5rem;


            menu {
                margin : 0;
                padding : 0;


                > li {
                    display : inline-block;

                    &:not(:first-child) {
                        margin-left : .5rem;
                    }


                    a {
                        display : block;
                    }

                }

            }

        }

    }


    main {
        width : 100%;


        > .wrapper {
            max-width : var(--max-width);
            margin : 0 auto;
        }


        section.title {
            padding : 2rem;


            h1 {
                font-size : 2.5rem;
                text-transform : uppercase;
            }

            p {
                font-size : 1.2rem;
            }

        }


        section.options {
            padding : 1rem;

            background-color : var(--main-tile-background-color);
            border-radius : 1rem;

            color : var(--main-tile-font-color);
            text-align : center;


            form[name="main_input"] {

                > section {
                    display : inline-block;
                }

                > hr {
                    margin : 1rem 0;
                }


                .main_input_form-options {

                    > p:first-child {
                        margin-top : 0;
                    }
                    > p:last-child {
                        margin-bottom : 0;
                    }

                }

            }

        }

    }


    #canvas {
        position : relative;

        width : 100vw;
        height : 100vh;

        background-color : var(--canvas-background-color);
        border-radius : 1rem;


        .tile {
            position : absolute;

            padding : .2rem .5rem;

            background-color : var(--tile-background-color);
            border : 1px solid black;
            border-radius : 1rem;

            font-size : var(--tile-font-size);

            &.draggable {
                cursor : pointer;
            }

            &.found {
                background-color : var(--color-green);
            }
        }
    }


    footer {
        padding : 1rem;

        background-color : rgb(30, 30, 30);

        font-family : 'Segoe UI', Verdana, sans-serif;
        color : var(--main-font-color);
        letter-spacing : .04em;


        a:hover {
            color : var(--main-font-color-hover);
        }

    }

}

* {
    box-sizing : border-box;
}

a {
    text-decoration : none;
    color : inherit;

    &:visited {
        color : inherit;
    }

    &[target="_blank"]::after {
        content : '\2197';
    }
}

input[type="text"],
input[type="button"],
input[type="submit"],
input[type="number"],
select {
    font : inherit;
    color : inherit;

    &[type="button"]:not(:disabled),
    &[type="submit"]:not(:disabled) {
        cursor : pointer;
    }

    &::placeholder {
        color : rgb(99, 99, 99);
    }
}

input[type="checkbox"] {
    vertical-align : middle;
}



.button-preset {
    padding : .5rem 1rem;

    border : 1px solid black;
    border-radius : 1rem;

    &.round-except-top-left {
        border-top-left-radius : 0;
    }
    &.round-except-top-right {
        border-top-right-radius : 0;
    }
    &.round-except-bottom-left {
        border-bottom-left-radius : 0;
    }
    &.round-except-bottom-right {
        border-bottom-right-radius : 0;
    }

    &.blue {
        background-color : var(--color-ruddy-blue);
    }
    &.violet {
        background-color : var(--color-ultra-violet);
    }
}

.input-inline {
    border : 1px solid black;
    border-radius : .1rem;

    &.blue {
        background-color : var(--color-ruddy-blue);
    }
    &.violet {
        background-color : var(--color-ultra-violet);
    }
}
