
:root {
    --tile-background-color : rgb(240, 216, 240);

    --card-font-size : 2.5rem; // default option

    --color-plum : plum;
    --color-lightgrey : rgb(193, 179, 193);
    --color-darkteal : rgb(34, 60, 80);
    --color-darkteal-transparent : rgba(34, 60, 80, .2);
}

html {
    height : 100%;

    scrollbar-width : none;

    @media (orientation : portrait) {
        font-size : 12px;
    }
}

body {
    height : 100%;
    margin : 0;

    background-color : var(--color-plum);

    font-family : 'Noto Sans', sans-serif;
    font-variation-settings : "wdth" 100;


    main {
        position : relative;

        height : 100vh;
        padding : 1rem;


        > .side_panel_toggle {
            position : absolute;
            top : 0;
            left : 1rem;

            padding : .5rem 1rem;

            background-color : var(--tile-background-color);
            border-radius : 0 0 .5rem .5rem;
        }


        > .canvas {
            position : relative;

            height : 100%;


            .card {
                position : absolute;

                padding : .2rem .5rem;

                background-color : var(--tile-background-color);
                border : 1px solid var(--color-darkteal-transparent);
                border-radius : .1rem;
                cursor : pointer;

                font-size : var(--card-font-size);
            }

        }


        > aside {
            position : absolute;
            top : 1rem;
            left : 1rem;

            padding : 1rem;

            background-color : var(--tile-background-color);
            border-radius : .5rem;


            > .toggle_button {
                transform : translate(-1%, -40%);


                input {
                    padding : 0 .7rem;

                    background-color : var(--color-lightgrey);
                    border : none;
                    border-radius : 999em;
                    cursor : pointer;

                    font : inherit;
                    color : inherit;
                }

            }


            hr {
                color : var(--color-lightgrey);
            }


            form[name="words_input"] {

                label {
                    display : block;
                }


                select {
                    background-color : var(--color-lightgrey);
                    border : none;
                    border-radius : .1rem;

                    font : inherit;
                    color : inherit;
                }


                input[type="text"] {
                    padding : .2rem .5rem;

                    display : block;

                    background-color : var(--color-lightgrey);
                    border : none;
                    border-radius : .1rem;

                    font : inherit;
                    color : inherit;
                }

                input[type="button"], input[type="submit"] {
                    padding : .2rem .5rem;

                    display : block;

                    background-color : var(--color-lightgrey);
                    border : none;
                    border-radius : .1rem;
                    cursor : pointer;

                    font : inherit;
                    color : inherit;
                }

                input[type="checkbox"] {
                    //padding : .2rem .5rem;

                    vertical-align : middle;

                    //background-color : var(--color-lightgrey);
                    //border : none;
                    //border-radius : .1rem;

                    //font : inherit;
                    //color : inherit;
                }

            }

        }

    }


    footer {
        padding : 1rem;

        background-color : rgb(30, 30, 30);

        font-family : 'Segoe UI', Verdana, sans-serif;
        color : gainsboro;
        letter-spacing : .04em;


        > section {
            margin-left : 2rem;
        }


        a:hover {
            color : rgb(186, 186, 186);
        }

    }

}

* {
    box-sizing : border-box;
}

a.link {
    text-decoration : none;
    color : inherit;

    &:visited {
        color : inherit;
    }

    &[target="_blank"]::after {
        content : '\2197';
    }
}
