:root {
    --tile-font-size : 2rem;


    --color-periwinkle : #c6d8ffff;
    --color-ruddy-blue : #71a9f7ff;
    --color-ultra-violet : #6b5ca5ff;
    --color-byzantium : rgb(111, 45, 105);
    --color-tyrian-purple : #4c1036ff;

    --color-green : #6ce01f;
    --color-softblue : rgb(68, 76, 247);
    --color-softblue-transparent-08 : rgba(68, 76, 247, .8);


    --main-background-color : gainsboro;

    --aside-background-color : white;
    --aside-decorators-color : var(--color-softblue-transparent-08);

    --aside-button-background-color : transparent;
    --aside-button-background-color-hover : gainsboro;

    --canvas-background-color : gainsboro;
    --canvas-background-color-secondary : var(--color-softblue-transparent-08);

    --tile-background-color : white;
}

html {
    @media (orientation : portrait) {
        font-size : 12px;
    }
}

body {
    margin : 0;

    background-color : var(--main-background-color);

    font-family : 'Noto Sans', sans-serif;
    font-variation-settings : "wdth" 100;
    //color : var(--main-font-color);
}


#app-main {

    > main {
        height : 100vh;


        > .wrapper {
            height : 100%;

            display : flex;


            > aside {
                --button-icon-size : 2.5rem;

                position : relative;
                z-index : 1;

                background-color : var(--aside-background-color);


                .aside-button {
                    width : var(--button-icon-size);
                    height : var(--button-icon-size);

                    display : block;

                    background-color : var(--aside-button-background-color);
                    background-position : center;
                    background-repeat : no-repeat;
                    border-radius : .5rem;

                    &:hover, &:active {
                        background-color : var(--aside-button-background-color-hover);
                    }
                }


                > .wrapper {
                    padding : .8rem;

                    display : flex;
                    flex-direction : column;


                    > section {
                        display : flex;
                        flex-direction : column;
                        gap : .2rem;


                        &.tools {
                            > .create > .aside-button {
                                background-image : url('../src/assets/pencil.svg');
                                background-size : 60%;
                            }

                            > .clear > .aside-button {
                                background-image : url('../src/assets/x-lg.svg');
                                background-size : 60%;
                            }

                            > .options > .aside-button {
                                background-image : url('../src/assets/gear.svg');
                                background-size : 60%;
                            }
                        }
                        &.links {
                            > .github > .aside-button {
                                background-image : url('../src/assets/github-mark/github-mark.svg');
                                background-size : 80%;
                            }
                        }

                    }


                    > hr {
                        width : 100%;
                        margin : 1rem 0;

                        border-color : var(--aside-decorators-color);
                    }

                }


                > .aside-menu {
                    position : absolute;
                    left : calc(100% + 1rem);
                    top : 1rem;

                    background-color : var(--aside-background-color);
                    border-radius : 1rem;


                    > .wrapper {
                        padding : .8rem;


                        > *:not(:first-child) {
                            margin-top : 1rem;
                        }

                    }


                    &.create-menu {

                        form[name="create_menu"] {

                            input[name="create_menu_input_text"] {
                                border-bottom : 2px solid var(--aside-decorators-color);
                            }

                        }

                    }

                    &.options-menu {
                        min-width : 500%;


                        select {
                            border-bottom : 2px solid var(--aside-decorators-color);
                        }


                        input[type="number"] {
                            border-bottom : 2px solid var(--aside-decorators-color);
                        }

                    }
                }

            }


            > .canvas {
                flex-grow : 1;

                background-color : var(--canvas-background-color);
                background-image : radial-gradient(
                    var(--canvas-background-color-secondary) 1px,
                    var(--canvas-background-color) 1px
                );
                background-size : 20px 20px;
            }

        }

    }


    /*
    > footer {
        background-color : rgb(30, 30, 30);

        font-family : 'Segoe UI', Verdana, sans-serif;
        color : gainsboro;
        letter-spacing : .04em;


        > .wrapper {
            padding : 1rem 3rem;


            > .sections {

                > section {
                    padding : 1rem 0;

                    display : inline-block;

                    &:not(:first-child) {
                        margin-left : 2rem;
                    }


                    h3 {
                        margin : 0;

                        font-weight : normal;
                    }

                    hr {
                        width : 5rem;
                        margin-left : 0;
                    }

                    .contributor {
                        margin-top : .25rem;
                    }

                }

            }

        }

    }
    */

}

#canvas-container {
    position : relative;


    .tile {
        position : absolute;

        padding : .5rem;

        background-color : var(--tile-background-color);
        border-radius : 1rem;

        font-size : var(--tile-font-size);

        &.draggable {
            cursor : pointer;
        }

        &.found {
            background-color : var(--color-green);
        }
    }

}


* {
    box-sizing : border-box;
}

a {
    text-decoration : none;
    color : inherit;

    &:visited {
        color : inherit;
    }
}

input,
select {
    background-color : transparent;
    border : none;

    font : inherit;
    color : inherit;

    &[type="button"]:not(:disabled),
    &[type="submit"]:not(:disabled) {
        cursor : pointer;
    }

    &[type="checkbox"] {
        vertical-align : middle;
    }

    &[type="number"] {
        text-align : center;
    }
}


.option-not-working::after {
    content : url('../src/assets/exclamation-circle.svg');

    vertical-align : middle;

    margin-left : .2rem;
}
